:root {
  --light: #{$light};
  --dark: #{$dark};
}

// light
body {
  background-color: $light;
  color: $dark;
}

.key {
  background: rgba($light, .7);

  &.error {
    background: $light;
    // border-color: #b91c1c;

    .close {
      // color: #a16207;

      &:hover {
        // color: #c2410c;
        font-weight: bold;
      }
    }

    /* path {
      stroke: #b91c1c;
    } */
  }

  [type="radio"]+span::after {
    background: $dark;
  }

  /* [data-d3] {
    &.jsonErr path {
      stroke: #dc2626;
    }
  } */


  /* border-color: rgba($dark, .75);
  transition: border-color .15s;
  &:hover {
    border-color: $dark;
  } */

}

// dark
html.dark {

  body {
    background-color: $dark;
    color: $light;
  }

  .key {
    background: rgba($dark, .7);

    &.error {
      background: $dark;
    }

    [type="radio"]+span::after {
      background: $light;
    }

    /* border-color: rgba($light, .75);
    &:hover {
      border-color: $light;
    } */
  }

}